<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.overlay_attack_detector">

  <!-- Permission required for overlay detection -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

  <application
    android:label="overlay_attack_detector"
    android:allowBackup="true">
  </application>

</manifest>